@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Sniglet:wght@400;800&display=swap" rel="stylesheet');
@import url("https://fonts.googleapis.com/icon?family=Material+Icons+Outlined");
/* Set custom variables here */

:root,[data-bs-theme="dark"]{
  --bs-primary: #a6d6e6; 
  --bs-primary-rgb: 166, 214, 230;
  --bs-secondary: #F05816; 
  --bs-secondary-rgb: 240, 88, 22;
  --bs-accent: #FFFAE6; 
  --bs-light: #FBB094;
  --bs-light-rgb: 251, 176, 148;
  --bs-accent-rgb:255, 250, 230;
  --bs-heading: #333F49;
  --bs-heading-rgb: 51, 63, 73;

}

.bg-accent {
  background-color: var(--bs-accent) !important;
}

.btn-primary {
  background-color: var(--bs-secondary) !important;
  border: none !important;
  border-radius: 9999px;
}/* Had to add this because --bs-primary wasn't working */

.btn-secondary{
  background-color: var(--bs-primary) !important;
  border: none !important;
  color: var(--bs-heading);
  border-radius: 9999px;
}


#customers{
  background-color: #FFFAE6;
}

header {
  background-color: var(--bs-primary);
}

body {
  font-family: "Noto Sans", sans-serif;
}

h2, h3, h4{
  font-family: "Sniglet", sans-serif;
}
h1{
  font-family: "Sniglet", sans-serif;
  color: var(--bs-heading);
}


#hero {
  height: 500px;
  background-color: #E4E6DB;
  background-image: url(../images/hero-bg-img.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-services {
  background-image: url('../images/services-hero.jpg'); /* change to your image */
  background-size: cover;       /* Bootstrap equivalent: bg-cover */
  background-position: center;  /* Bootstrap equivalent: bg-center */
  background-repeat: no-repeat;
  height: 80vh;
}


#hero .d-flex {
  height: 800px;
}

#cta {
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/cta-bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#cta .d-flex {
  height: 400px;
}

section:not(#hero):not(#cta){
  padding: 60px 0;
}


@media(min-width: 993px){
  section:not(#hero):not(#cta){
    padding: 100px 0;
  }
}